@charset "utf-8";

h1{color: aquamarine;}
p{color: brown;}

.image-container img {
  width: 100%; /* 親要素の幅に合わせる */
  height: 100%; /* 親要素の高さに合わせる */
  object-fit: cover; /* 画像が親要素を覆うようにアスペクト比を維持 */
}
